@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: "Handlee", sans-serif;
    color: #eeeeee;
  }

  body {
    background-color: #1d1616;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
  }

  #root {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr minmax(180px, 1fr);
    grid-template-rows: 100px 1fr;
    grid-template-areas:
      "header header header"
      "main main sidebar";
  }

  ul,
  main {
    scrollbar-width: thin;
    scrollbar-color: #d84040 transparent;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.15s ease-out forwards;
  }
}

@theme {
  --color-bg-main: #1d1616;
  --color-bg-main-hover: #281e1e;
  --color-text-main: #eeeeee;
  --color-border-main: #8e1616;
  --color-border-secondary: #d84040;
  --color-border-bottom: #311111;
}
